.wrapper {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  height: 100vh;
}

button {
  flex: 1;
  padding: 25px 50px;
  margin: 25px;
  border-radius: 999px;
  border: 5px solid #284cff;
  font-family: "VT323", monospace;
  font-size: 25px;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  color: #fff;
  background: transparent;
  background-image: url(/images/button.png);
  background-repeat: repeat-x;
  background-position: 0 -100%;
  transition: 1.5s ease;
  filter: brightness(0) invert(1);
  animation: milkFlow 4.5s ease alternate infinite;
}
button:hover {
  background-position: 500% 100%;
  color: #000;
  animation: milkFlowHover 4.5s ease;
}

button:active {
  background-position: 500% 100%;
  color: #000;
}

@keyframes milkFlow {
  0% {
    background-position: -100% -100%;
  }
  100% {
    background-position: 1000% -105%;
  }
}

@keyframes milkFlowHover {
    0% {
        background-position: 0% -100%;
    }
    100% {
        background-position: 500% 100%;
    }   
}